<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsy.blog.mapper.AboutMapper">
    <resultMap id="BaseResultMap" type="com.wsy.blog.pojo.About">
        <!--@mbg.generated-->
        <!--@Table bl_about-->
        <id column="about_id" jdbcType="VARCHAR" property="aboutId"/>
        <result column="about_title" jdbcType="VARCHAR" property="aboutTitle"/>
        <result column="about_content" jdbcType="LONGVARCHAR" property="aboutContent"/>
        <result column="about_read" jdbcType="INTEGER" property="aboutRead"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <insert id="save">
        insert into bl_about
            (about_title, about_content)
        values (#{aboutTitle}, #{aboutContent})
    </insert>
    <select id="getById" resultMap="BaseResultMap">
        select about_id,
               about_title,
               about_content,
               about_read,
               created_time,
               update_time,
               version,
               enable
        from bl_about
        where about_id = #{value}
          and deleted = 0
    </select>
    <update id="deleteById">
        update bl_about
        set deleted = 1
        where about_id = #{value}
    </update>
    <update id="update" parameterType="com.wsy.blog.pojo.About">
        update bl_about
        set
        version = version + 1
        <if test="aboutTitle!=null and aboutTitle!=''">
            ,about_title = #{aboutTitle}
        </if>
        <if test="aboutContent!=null and aboutContent!=''">
            ,about_content = #{aboutContent}
        </if>
        <if test="aboutRead!=null and aboutRead!=''">
            ,about_read = #{aboutRead}
        </if>
        <if test="enable!=null">
            ,enable = #{enable}
        </if>
        where about_id = #{aboutId}
        and version = #{version}
        and deleted = 0
    </update>
    <select id="getOne" resultMap="BaseResultMap">
        select about_id,
               about_title,
               about_content,
               about_read,
               created_time,
               update_time,
               version,
               enable
        from bl_about
        where enable = 1
          and deleted = 0
        limit 1
    </select>
    <select id="getPage" resultMap="BaseResultMap">
        select about_id,
               about_title,
               about_content,
               about_read,
               created_time,
               update_time,
               version,
               enable
        from bl_about
        where deleted = 0
    </select>
    <select id="getByEnable" resultMap="BaseResultMap">
        select about_id,
               about_title,
               about_content,
               about_read,
               created_time,
               update_time,
               version,
               enable
        from bl_about
        where deleted = 0
          and enable = 1
    </select>

</mapper>